.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 600px;
    max-height: 600px;
    margin: 10px;
}

@media screen and (max-width: 700px), (max-height: 700px) {
    .game-board {
        width: 500px;
    }
}

@media screen and (max-width: 550px), (max-height: 550px) {
    .game-board {
        width: 400px;
    }
}

.game-board .background {
    grid-area: 1 / 1 / 4 / 4;

    filter: opacity(50%);

    width: 100%;
    display: block;

    box-shadow: 5px 5px 4px #000000;
}

.game-board .step-counter {
    grid-area: 4 / 1 / 4 / 1;

    width: 100%;
    display: block;

    font-family: Sans-serif, "Times New Roman", Times, serif;
    font-size: 20px;

    align-self: center;

}