.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 600px;
    max-height: 600px;
    margin: 10px;

    box-shadow: 5px 5px 4px #7f7f7f;
}

@media screen and (max-width: 700px), (max-height: 700px) {
    .game-board {
        width: 500px;
    }
}

@media screen and (max-width: 550px), (max-height: 550px) {
    .game-board {
        width: 400px;
    }
}

.game-board .background {
    grid-area: 1 / 1 / 4 / 4;

    filter: opacity(50%);

    width: 100%;
    display: block;
}